<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Controladores y Scopes</title>
</head>
<body ng-app="test">

<!--Barra de navegacion, la vista esta controlada por BarraNavegacionCtrl-->

    <nav ng-controller="BarraNavegacionCtrl" >
        <a href="#">{{ nombreSeccion1 }}</a>
        <a href="#">{{ nombreSeccion2 }}</a>
        <a href="#">{{ nombreSeccion3 }}</a>
        <button ng-click="mostrarMensaje()">Mostrar mensaje</button>
    </nav>
    <!--jerarquia de controladores-->
    <div ng-controller="ControladorPadre">
        <p>Soy un controlador</p>

        <!--al hacer click enviamos una notificacion hacia abajo en la jerarquia de scopes-->
        <button ng-click="enviarMensajeAlHijo()">Notificar al hijo</button>

        <div ng-controller="ControladorHijo">
            <p>Y yo su hijo!!</p>
            <button ng-click="eviarMensajeAlPadre()">Notificar al padre</button>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script>

    //Creamos un modulo "test"

    angular.module("test", []);

    //Controlador para gestionar la barra de navegación.
    angular.module("test").controller("BarraNavegacionCtrl", function($scope){

        //Asignando valores en el Scope para que la vista los tenga disponibles.
        $scope.nombreSeccion1 = "Mi Sección";
        $scope.nombreSeccion2 = "Otra sección molona";
        $scope.nombreSeccion3 = "Una ultima sección";

        //Establecemos comportamiento en el scope para que la vista los tenga disponibles.
        $scope.mostrarMensaje = function(){
            alert("Buenas Noches Everis");
        };

    });

    angular.module("test").controller("ControladorPadre", function($scope){
        $scope.enviarMensajeAlHijo = function(){
          $scope.$broadcast("EventoHaciaAbajo","Hola hijo!!");
        };

        $scope.$on("EventoHaciaArriba",function(evento,datos){

            evento.preventDefault();
            alert(datos);
        });
    });
    angular.module("test").controller("ControladorHijo", function($scope){
        $scope.$on("EventoHaciaAbajo", function(evento,datos){

            //con eveneto.preventDefault() paramos la propagacion del evento.
            evento.preventDefault();
            alert(datos);
        });
        $scope.eviarMensajeAlPadre = function () {
            $scope.$emit("EventoHaciaArriba", "Hola Padre");
        };

    });


</script>
</body>
</html>