
<div>
    <header>
        <h2>Mios</h2>
    </header>
    <!--Pintamos una tabla para mostrar los posts -->
    <table class="table">
        <!--Con la directiva ngRepeat iteramos sobre la coleccion de posts para pintar cada linea(post)
         de la tabla-->

        <!-- usamos una directiva "elementoPost" por cad post de la coleccion -->
        <tr ng-repeat="post in posts"
            elemento-post
            post="post"
            on-post-click="navegar(idPost)"></tr>
    </table>
</div>