
<div>
    <header>
        <h2>Todos</h2>
    </header>

    <!-- Pintamos una caja de texto para pintar por autor -->
    <form class="form-inline">
        <div class="form-group">
            <label for="filtroAutor">Autor del post: </label>
            <input type="text" id="filtroAutor" ng-model="filtroPorAutor" placeholder="Perico"/>
        </div>
    </form>

    <!--Pintamos una tabla para mostrar los posts -->
    <table class="table">
        <!--Con la directiva ngRepeat iteramos sobre la coleccion de posts para pintar cada linea(post)
         de la tabla-->

        <!-- usamos una directiva "elementoPost" por cad post de la coleccion -->
        <tr ng-repeat="post in posts | filter: {author:filtroPorAutor}"
           elemento-post
           post="post"
           on-post-click="navegar(idPost)"></tr>
    </table>
    <!-- Pintamos un control de paginacion .Esto es una directiva de Angular UI Bootstrap-->
<uib-pagination
        ng-change="paginador.cambioDePagina()"
        ng-model="paginador.paginaActual"
        total-items="paginador.totalElementos"
        items-per-page="paginador.elementosPorPagina"
        boundary-links ="true"
        first-text="&lt;&lt;"
        last-text="&gt;&gt;"
        previous-text="&lt;"
        next-text="&gt;"
></uib-pagination>
</div>